nav {
    width: 28vh;
}

.goods ol {
    list-style-type: none;
}

li.goods {
    background-color: rgb(241, 240, 241);
    height: 8vh;
    text-align: center;
}

li.goods:active {
    font-size: xx-small;
    margin-top: 10px;
}

li.goods:hover {
    background-color: rgb(224, 193, 76);
    font-size: x-large;
}

li.goods a {
    text-decoration: none;
    color: black;
}